<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="room-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>ROOMS</b></span>
                            <div>
                                <form [formGroup]="addRoomForm" class="field-outline">
                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="Enter Room Name" formControlName="roomName" />
                                    </mat-form-field>
                                    <div class="buttton" style=" margin-left: 35px; margin-bottom: 10px; ">
                                        <button mat-raised-button type="submit"
                                            style="background-color: rgb(167, 233, 150);" (click)="saveRoom()">
                                            Create Room
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        <li class="clearfix" *ngFor="let room of rooms" (click)="roomClick(room.id)">
                            <div class="about">
                                <div class="name"> {{room.roomName}} </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="chat-about">
                                    <h6 class="m-b-0">
                                        <p>{{roomValue}}</p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">
                            <li class="clearfix" *ngFor="let msg of messages">
                                <div class="message other-message float-right" *ngIf="msg.isMessageMine()">
                                    <b>
                                        <ul>{{msg.username}}</ul>
                                    </b>
                                    <ul [contentEditable]="editable"> <button mat-mini-fab color="primary"
                                            (click)="editMessage()">
                                            <mat-icon>edit</mat-icon>
                                        </button>{{msg.content}} </ul>
                                </div>
                                <div class="message my-message" *ngIf="!msg.isMessageMine()">
                                    <b>
                                        <ul>{{msg.username}}</ul>
                                    </b>
                                    <ul>{{msg.content}}</ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Enter text here... "
                                [(ngModel)]="content">
                            <label for="firstimg">
                                <mat-icon>attachment</mat-icon>
                            </label>
                            <input type="file" id="firstimg" class="attach-img" accept="image/png, image/jpeg">

                            <div class="input-group-prepend">
                                <button mat-button color="primary" type="submit"
                                    style=" margin-left: 10px; margin-right: 10px; background-color:rgb(76, 185, 248); "
                                    (click)="saveMessage()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>