body {
  background-color: #ddf3ec;
  margin-top: 20px;
}

.card {
  background: rgb(246, 255, 233);
  transition: .5s;
  border: 0;

  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .room-list {
  width: 280px;
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  z-index: 7
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea
}

.input-group-text {
  background-color: rgb(167, 233, 150);
  align-items: center;
  display: flex;
}

.input-group {
  margin-left: 18px;

}

.room-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}

.room-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;

}

.room-list .chat-list li:hover {
  background: #bfc9b3;
  cursor: pointer
}

.room-list .chat-list li.active {
  background: #efefef
}

.room-list .chat-list li .name {
  font-size: 15px
}

.room-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.room-list img {
  float: left;
  border-radius: 50%
}

.room-list .about {
  float: left;
  padding-left: 8px
}

.room-list {
  color: rgb(34, 33, 33);
  font-size: 13px
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
  background-color: #70d86c;
  margin-top: 34px;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  margin-top: 20px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 350px;
  min-height: 250px;


}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 20px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 10px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  padding: 13px 15px;
  line-height: 26px;
  font-size: 15px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .my-message {
  background: #efefef
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;

}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}

.chat .chat-message {
  padding: 20px
}


.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: text-bottom
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 767px) {
  .chat-app .room-list {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none
  }

  .chat-app .room-list.open {
    left: 0
  }

  .chat-app .chat {
    margin: 0
  }

  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0
  }

  .chat-app .chat-history {
    height: 300px;
    overflow-x: auto
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
    height: 650px;
    overflow-x: auto
  }

  .chat-app .chat-history {
    height: 600px;
    overflow-x: auto
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
    height: 480px;
    overflow-x: auto
  }

  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto
  }
}

.mat-form-field {
  margin-bottom: 10px;
  margin-top: 10px;
}

.field-outline {
  border-style: outset;
  border-width: 1px;
  justify-content: center;
  margin-top: 10px;
  align-items: center;

}
