<div class="login-form">
    <form [formGroup]="form">
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                <input matInput type="text" placeholder="Username" formControlName="username" />
            </div>

            <div class="input-field">
                <input type="password" placeholder="Password" autocomplete="new-password" formControlName="password">
            </div>
        </div>
        <div class="action">
            <button mat-button color="primary" (click)="onSubmit()">
                Login
            </button>
        </div>
    </form>
</div>