<div class="buttons">
    <div class="btns">
        <div class="login-button d-inline-block">
            <button *ngIf="!this.authService.isLoggedIn" class=" btn btn-outline-success" routerLinkActive="active"
                routerLink="/login">Sign
                in</button>
        </div>
        <div class="register-button d-inline-block">
            <button *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
                routerLink="/register">Sign up </button>
        </div>
    </div>
    <div class="logout-button">
        <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button"
            class="btn btn-danger">Logout</button>
    </div>
</div>

<router-outlet></router-outlet>