<input type="text" id="input" class="input-content" defaultValue={{message.content}} (input)="onInputChange($event)"
    [disabled]="toggleButton" />
<button class="btn" mat-mini-fab color="primary" (click)="editMessage()">
    <mat-icon inline="">edit</mat-icon>
</button>
<div class="button">
    <button class="btn-b" aria-label="cancel" mat-mini-fab color="primary" *ngIf="editable" (click)="cancelEdit()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button class="btn-b" aria-label="send" mat-mini-fab color="primary" *ngIf="editable"
        (click)="saveEdit()">✔</button>
</div>